@model Functions.Models.Find

@{
    ViewData["Title"] = "AddFind";
}

<h1>AddFind</h1>

<h4>Find</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddFind">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FindName" class="control-label"></label>
                <input asp-for="FindName" class="form-control" />
                <span asp-validation-for="FindName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinderName" class="control-label"></label>
                <input asp-for="FinderName" class="form-control" />
                <span asp-validation-for="FinderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageURI" class="control-label"></label>
                <input asp-for="ImageURI" class="form-control" />
                <span asp-validation-for="ImageURI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
